.gradle/

*.iml
/local.properties

.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.idea/vcs.xml
.idea/libraries
.idea/inspectionProfiles
.idea/dictionaries
.idea/caches
.idea/codeStyles

build/

.DS_Store
/captures