*.iml
/local.properties

/.idea/tasks.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/kotlinc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/dictionaries
/.idea/codeStyles

/build

.gradle/
.DS_Store
.externalNativeBuild
/captures